@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spotlight-color: 239, 68, 68;
    /* red-500 */
  }

  .dark {
    --spotlight-color: 250, 204, 21;
    /* yellow-400 */
  }

  body {
    @apply bg-gray-50 dark:bg-black min-h-screen flex justify-center items-center;
  }
}